# Requires:
#   postgresql set up locally
#   created local db using createdb breath_db
#   created postgres username and password
#   psycopg2-binary (or psycopg2) installed with pip
DATABASE_URL=postgresql+psycopg2://username:password@localhost:5432/breath_db